<ion-view title"alalala">

  <ion-side-menus>

    <ion-side-menu side="left">
      <ion-content>
        <ion-list>
          <ion-item>alalala
          </ion-item>

          <ion-item>BBbbB
          </ion-item>

          <ion-item>ccccccc
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
      carritooo
    </ion-side-menu>

    <ion-side-menu-content>
      <button menu-toogle="left" class="button button-icon ion ion-navicon"></button>
      <button menu-toogle="right" class="button button-clear button-positive">$$</button>
    </ion-side-menu-content>

  </ion-side-menus>


</ion-view>
<!--
<ion-nav-bar>
  <ion-nav-buttons side="left">
    <div>
      hola
      <br/>
      chau
    </div>
    <button menu-toogle="left" class="button button-icon ion ion-navicon"></button>
  </ion-nav-buttons>



  <ion-nav-buttons side="right">
    <button menu-toogle="right" class="ion-navicon">CARRO</button>
  </ion-nav-buttons>

</ion-nav-bar> -->

<!-- <ion-side-menus>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item>alalala
        </ion-item>

        <ion-item>BBbbB
        </ion-item>

        <ion-item>ccccccc
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
  </ion-side-menu>

  <ion-side-menu-content>

  </ion-side-menu-content>

</ion-side-menus> -->
